<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>449196890018-m69ot4ke7akkqfe2i32eqnau22sge9ta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449196890018-m69ot4ke7akkqfe2i32eqnau22sge9ta</string>
	<key>API_KEY</key>
	<string>AIzaSyAPpvve05saOWK7N65p59444Zm7FIqV8xA</string>
	<key>GCM_SENDER_ID</key>
	<string>449196890018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NateSesti.AR-World</string>
	<key>PROJECT_ID</key>
	<string>referral-database</string>
	<key>STORAGE_BUCKET</key>
	<string>referral-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449196890018:ios:33b29ea025479d14</string>
	<key>DATABASE_URL</key>
	<string>https://referral-database.firebaseio.com</string>
</dict>
</plist>