<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirebaseScreenReportingEnabled</key>
	<true/>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>89188913145-5hok7j05750h7k81bba46fqipovb3h62.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89188913145-5hok7j05750h7k81bba46fqipovb3h62</string>
	<key>API_KEY</key>
	<string>AIzaSyCj8RnQomJWcbqAKXRfunWTrnnJsboHBv0</string>
	<key>GCM_SENDER_ID</key>
	<string>89188913145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NateSesti.Glome</string>
	<key>PROJECT_ID</key>
	<string>ar-world-92452</string>
	<key>STORAGE_BUCKET</key>
	<string>ar-world-92452.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:89188913145:ios:33b29ea025479d14</string>
	<key>DATABASE_URL</key>
	<string>https://ar-world-92452.firebaseio.com</string>
</dict>
</plist>
